<?xml version="1.0" encoding="utf-8"?>

<!-- This file is merged into main/AndroidManifest.xml for ALK builds -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.jjkeller.kmbui" android:sharedUserId="@string/shared_user_id">

    <application android:name="com.jjkeller.kmbapi.configuration.GlobalState" android:icon="@drawable/kmbicon" android:label="@string/app_name" android:theme="@style/KMBAppTheme" android:persistent="true">
        <activity android:name="com.jjkeller.kmb.AlkCopilot" android:label="@string/app_name" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <!-- ALK CoPilot -->
        <service android:name="com.alk.copilot.CopilotService" android:enabled="true" />
        <activity android:name="com.alk.copilot.tts.TTSActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <receiver android:name="com.alk.copilot.tts.TtsInstalledReceiver">
            <intent-filter>
                <action android:name="android.speech.tts.TextToSpeech.Engine.ACTION_TTS_DATA_INSTALLED" />
            </intent-filter>
        </receiver>
        <service android:name="com.alk.copilot.billing.CopilotBillingService" android:enabled="true" />
        <receiver android:name="com.alk.copilot.billing.CopilotBillingReceiver">
            <intent-filter>
                <action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
                <action android:name="com.android.vending.billing.RESPONSE_CODE" />
                <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <!-- This custom meta-data is here to allow the team to more easily identify which flavor an apk is from at deploy-time (PlayStore/Encompass/ALK) -->
        <meta-data android:name="BuildFlavor" android:value="ALK" />

        <!-- This should always be "true" -->
        <meta-data android:value="true" android:name="ALK_isCustomFragment" />

        <!-- "true" if you want CoPilot to store data (maps, speech, etc) in the default install directory
                "false" if you want CoPilot to store data using the external storage dir (usually on the sdcard) -->
        <meta-data android:value="false" android:name="ALK_useInternalStorage" />

        <!-- "true" if you will be starting CoPilot in the background and do not want to show a splashscreen.
                "false" otherwise -->
        <meta-data android:value="true" android:name="ALK_doBackgroundStart" />
    </application>
</manifest>

